*{
  font-family: Proxima Nova, Arial, Helvetica, sans-serif;
}
.dashboardBackground{
  background-size: contain;
}
.pageLayout{
  margin:0 30px;
}
.beerContainer{
  background-color: #f1f1f1;
  border-radius:8px;
  text-align: right;
  padding-top:25px;
  padding-right: 25px;
  width:100%;
  height:255px;
  color:#fff;
  background-image: url("../assets/images/container.png");
  -webkit-box-shadow: -1px 1px 8px 2px #cccccc;
  -moz-box-shadow: -1px 1px 8px 2px #cccccc;
  box-shadow: -1px 1px 8px 2px #cccccc;
  position: relative;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);

}
.beertype{
  font: bold 28px Proxima Nova, Arial, Helvetica, sans-serif;
}
.currentTemp{
  font: bold 50px Proxima Nova, Arial, Helvetica, sans-serif;
  display:block;
}
.rangeTemp{
  font: bold 35px Proxima Nova, Arial, Helvetica, sans-serif;
  display:block;
}
.iconStyling{
  margin-top: -8px;
  margin-right:5px;
}
.tmpLabel{
  font: regular 18px Proxima Nova, Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 25px;
}
.logoStyle{
  width:70px;
  height:auto;
  float:left;
}
.beerContainer:hover{
  background-color: #f1f1f1;
  -webkit-box-shadow: -1px 1px 15px 5px #f1c40f;
  -moz-box-shadow: -1px 1px 15px 5px #f1c40f;
  box-shadow: -1px 2px 20px 5px #f1c40f;
}
header{
  background-color: #34302c;
  color:#ffffff;
  border-bottom: 2px solid #000000;
  box-shadow: 0 -2px 4px 2px #000000;
  -moz-box-shadow: 0 -2px 4px 2px #000000;
  -webkit-box-shadow: 0 -2px 4px 2px #000000;
}
header h1{
  font-size: 35px;
  font-weight: bold;
  padding-top: 8px;
}
.commonBoxModel{
  padding: 15px 15px;
}
.overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;    padding-right: 25px;
  padding-top: 22px;
}
.overlayText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.danger {
  -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
  animation: 2s linear infinite condemned_blink_effect;
}
.red{color:red}
.blue{color:blue}
.beerlistSection{
  padding-top: 20px;
}
.colorInfoWrapper{
  position:relative;
}
.colorInfo{
  top: 5px;
  right:8px;
  position: absolute;
}

.status-circle{
  width:12px;
  height:12px;
  border-radius: 6px;
  border:1px solid #000000;
  display:inline-block;
  margin-right:5px;
  margin-left: 25px;
}
.blueBackground{background-color:blue}
.redBackground{background-color:red}
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
footer{
  background-color: #34302c;
  color:#ffffff;
  padding:5px;
  text-align: center;
  margin-top:15px;
  border-top:2px solid #aaaaaa;
}
.dropdownSection{
  position: absolute;
  right: 30px;
  top: 11px;
}