.dashboardBackground{
  background-image: url("../assets/images/beer-background.jpg");
  background-size: contain;

}
.pageLayout{
  margin:15px 30px;
}
.beerContainer{
  background-color: #f1f1f1;
  -webkit-box-shadow:inset 0 0 10px #000000, -1px 1px 8px 2px #cccccc;
  -moz-box-shadow: inset 0 0 10px #000000,-1px 1px 8px 2px #cccccc;
  box-shadow: inset 0 0 10px #000000,-1px 1px 8px 2px #cccccc;
}
.beerContainerImage{
  width:100%;
  height:auto;
  max-height:190px;
  overflow: hidden;
}
.yellowContainer{
  background-color: #f1c40f;
}
.blueContainer{
  background-color: #03a9f4;
}
.orangeContainer{
  background-color: #ff9800;
}
.greenContainer{
  background-color: #4caf50;
}
.pinkContainer{
  background-color: #ff00ff;
}
.purpleContainer{
  background-color: #a569bd;
}
.commonBoxModel{
  padding-top:15px;
}
.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.overlayText{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-container{
  background-color: #e8e3d9;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 25px;
  border: 1px solid black;
}
.add-todo, .todo-list, .filter{
  padding:20px;
  min-height: 20px;
}

.add-todo, .todo-list{
  border-bottom:1px dotted black;
}

.add-todo > input{
  width:50%
}

.add-todo button{
  margin-left: 20px;
}

.todo-list ul li {
  padding: 10px;
  background: white;
  text-align: initial;
  margin-top:10px;
  position: relative;
}

.todo-list ul li:first-child {
  padding: 10px;
  background: white;
  text-align: initial;
  margin-top:0px;
}

.todo-list ul li small.delete{
  color: red;
  cursor: pointer;
}

.todo-list ul li small.delete,
.todo-list ul li small.is-completed{
  display: inline-block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
  height: 20px;
}

.todo-list ul li span.todo-text{
  display:inline-block;
  width: calc(100% - 50px);
  margin-left: 20px;
}


.striked{
  text-decoration: line-through;
}